In [ ]:
#assign ment-1

1.Convert an integer to a floating  point number
Python's method float() will convert integers to floats. To use this function, add an integer inside of the parentheses:
In this case, 57 will be converted to 57.0 .
You can also use this with a variable. ...
          By using the float() function, we can convert integers to floats.

In [2]:
#ex 
k = 5
type(k)
k = (k+2.0)
type(k)

float

In [ ]:
2.Convert an float to integer
To convert float into integer use () this function.

In [6]:
#ex 
k = 5.0 
type(k)
k = int(k) 
type(k)

int

3.Convert string into int.
We canâ€™t convert string into int

In [7]:
a ="ram"
c = int(a)

ValueError: invalid literal for int() with base 10: 'ram'

4.Convert  a list into a Tuple
To  convert a list to a tuple

In [10]:
#ex
My_list = [1,2,3,4]

In [12]:
My_tuple = tuple(My_list)
tuple(My_list)

(1, 2, 3, 4)

 4.Convert tuple in to list.
We can convert a tuple into list using list() function

In [13]:
#ex;
my_tuple = [2,4,7,8,9]
print(my_tuple)

[2, 4, 7, 8, 9]

In [14]:
my_list = list(my_tuple)
print(my_list)

[2, 4, 7, 8, 9]

6.Convert a decimal number into binary.
 To convert decimal to binary use a binary function ,then convert to decimal is shown in below.

In [15]:
#ex;
a = 5
bin(5)

'0b101'

In [17]:
bin(2)

'0b10'